@import url(https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&family=Sofia&display=swap);

body {
    background-color: #F7F6EB;
    width: 99%;
}

/* css for index.html */
.logo {
    font-family: oleo script swash caps;
    color: #A6B7DA;
    font-size: 60px;
    text-shadow: -0.5px -0.5px 0 #422b23,
        0.5px -0.5px 0 #422b23,
        -0.5px 0.5px 0 #422b23,
        0.5px 0.5px 0 #422b23;
    text-align: center;
    margin-top: -40px;
}

.nav-links {
    background-color: #B1CDAC;
    width: 100%;
    margin-top: -40px;

    .indexbar1 {
        width: 25%;
        text-align: center;
    }

    .indexbar2 {
        width: 25%;
        text-align: center;
    }

    .indexbar3 {
        width: 25%;
        text-align: center;
    }

    .indexbar4 {
        width: 25%;
        text-align: center;
    }
}

.nav-links a {
    color: #4A423E;
}

.indexchoose {
    width: 100%;
    display: flex;
    justify-content: center;

    .indexfood {
        width: 20vw;
        height: 8vw;
        font-size: 2vw;
        text-align: center;
        background-color: #A6B7DA;
        color: #4A423E;
        border-radius: 12px;
        border: 1px solid #4A423E
    }

    .indexfasion {
        width: 20vw;
        height: 8vw;
        font-size: 2vw;
        text-align: center;
        background-color: #A6B7DA;
        color: #4A423E;
        border-radius: 12px;
        border: 1px solid #4A423E
    }
}

/* end of css for index.html */